/* @tailwind base; */
/* @tailwind components; */
/* @tailwind utilities; */
.border-width{
    border-width: 20px;
}
div.postGrid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-columns: auto;
    grid-auto-rows: auto;
    row-gap: 5%;
    column-gap: 5%;
    margin: 5% 5%;
}
div.post{

}
img{
    width: 100%;
    height: auto;
}